@import url(standard_flex.css);
@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

@font-face {
    font-family: BebasNeue;
    src: url(../fonts/BebasNeue-Regular.woff2),
        url(../fonts/BebasNeue-Regular.ttf),
        url(../fonts/BebasNeue-Regular.otf),
        url(../fonts/BebasNeue-Regular.eot);
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/montserrat-v18-latin-regular.woff2),
        url(../fonts/montserrat-v18-latin-regular.woff);
}

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    font-size: 18px;
    font-family: "Montserrat";
}

#wrapper {
    max-width: 1440px;
    background-color: #ccc;
    margin: 0 auto;
}

main {
    max-width: 1280px;
    margin: 0 auto;
}

h3 {
    font-family: 'Cairo', sans-serif;
}

h2 {
    font-family: BebasNeue;
    font-size: 44px;
}

/* Titel */
div#title {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(2, auto);
    max-width: 800px;
    margin: 0 auto;
    justify-items: start;
}
.titleTop {
    grid-column: 1;
    display: flex;
    justify-content: space-between;
}

div#title h1 {
    font-family: BebasNeue;
    font-size: 88px;
    margin: 0.4em 0 0 0;
    line-height: 1;
}

div#title .titleImg img {
    margin: 30px 0 0 0;
    height: 88px;
    width: auto;
    margin-left: 1em;


}

div#title h3 {
    grid-row: 2;
    grid-column: 1;
    justify-self: start;
    text-align: left;
    align-self: start;
    margin: 0 0 1em 0;
    font-size: 30px;

}

/* Navigationsbar */
header {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
    font-size: 24px;
    background-color: #999;
    max-width: 1440px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    max-width: 1080px;
    height: 60px;
    margin: 0 auto;
    width: 100%;
}

.navbar li {
    font-family: "BebasNeue", Courier, monospace;
}

.navbar li a {
    text-decoration: none;
    color: black;
    display: block;
}
.navbar img {
    height: 40px;
    width: auto;
}
#burger {
    display: none;
}

/* Sektion med galleri */
#art1 {
    padding-top: 60px;
    padding-bottom: 60px;
}
.art1Flex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 5%;
}
.imgFlex {
    grid-column: 2/2;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(1, auto);

}
.textFlex {
    grid-column: 1/1;
}
.galPic {
    display: none;
}
.mainPic {
    grid-area: 1/1/1/3;
}
#next, #prev {
    color: black;
    align-self: center;
    font-size: 40px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
#prev {
    justify-self: start;
    grid-column: 1;
    text-align: left;
}
#next {
    justify-self: end;
    grid-column: 2;
}

video {
    width: 100%;
    height: auto;
}

#art2 {
    padding-top: 60px;
    padding-bottom: 60px;
}

/* Articles med anden farvebaggrund, som også bruger Flexbox. NB har ikke anden farvebaggrund længere. Har farvede runde cirkler*/
.colorWrap {
    display: flex;
    align-items: center;
    column-gap: 5%;
}

.flexImg {
    gap: 5%;
}
.flexImg img {
    width: 400px;
    height: 400px;
}

#art3 {
    padding-top: 60px;
    color: black;
    padding-bottom: 60px;
}

#art4 {
    color: black;
    padding-top: 60px;
    padding-bottom: 60px;

}

footer#foot {
    background-color: grey;
    margin: 0 auto;
}

footer#foot li {
    list-style-type:none;
    text-decoration: none;
}
footer#foot .prods li {
    list-style-type:square;
}
footer#foot a {
    text-decoration: none;

}
footer#foot div {
    padding-top: 2%;

}
#divFoot {
    max-width: 1080px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
}

footer#foot h3 {
    text-align: center;
}


/*.................Tablet...............*/
@media (max-width: 800px) {

    /* Burgermenu */
    #burger {
        display: flex;
        z-index: 10000;
        position: absolute;
        right: 5%;
        top: 5%;
        text-align: center;
        font-size: 48px;
    }

    .navbar {
        display: none;
        margin-left: 0;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        background-color: #666;
        line-height: 2;
        margin-left: auto;
        font-size: 48px;
    }

    /* Title */

    div#title h1 {
        font-size: 65px;
    }
    div#title .titleImg img {
        height: 65px;
    }
}

/*.................Mobil...............*/
@media (max-width: 485px) {

    /* Burgermenu */
    #burger {
        display: flex;
        z-index: 10000;
        position: absolute;
        right: 5%;
        top: 5%;
        text-align: center;
        font-size: 48px;
    }

    .navbar {
        display: none;
        margin-left: 0;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        background-color: #989BA4;
        line-height: 2;
        margin-left: auto;
        font-size: 48px;
    }

    div#title h1 {
        font-size: 40px;
    }
    div#title .titleImg img {
        height: 40px;
    }
    div#title h3 {
        font-size: 20px;
    }


    /* Articles */

    .colorWrap {
        flex-direction: column-reverse;
    }
    .art1Flex {
        grid-template-rows: repeat(2, auto);
        align-items: center;
        column-gap: 5%;
    }
    .imgFlex {
        grid-column: 1 / span 2;
        grid-row: 1;
    
    }
    .textFlex {
        grid-row: 2;
        grid-column: 1 / span 2;
    }
    .flexImg {
        gap: 5%;
    }
    .flexImg img {
        width: 200px;
        height: 200px;
    }

}