@import url(standard_flex.css);
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;700&family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;


}
body {
    font-family: 'Open Sans', sans-serif;
}
#index #wrapper {
    width: 100vw;
    background-color: #FEFEFE;
}
#avis_embed #wrapper, #spil_embed #wrapper, #film_embed #wrapper {
    background-color: #ffffff;
    width: 100vw;
}

/* Navigationsbar */
header {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
    font-family: 'EB Garamond', serif;
    font-size: 24px;
    background-color: #fff7dd;
    max-width: 100vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;

}
header a {
    place-self: center;
    justify-self: start;
    padding-left: 10%;
}
nav {
    grid-column: 2/-1;
    align-self: center;
    height: 100%;
}
.g-navbar {
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    max-width: 1080px;
    height: 60px;
    width: 100%;
    position: relative;
    align-content: center;
}
.g-navbar ul li {
    line-height: 3;
}

.g-navbar li a {
    text-decoration: none;
    color: black;
    display: block;
}
.g-navbar .g-nav-head {

    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.g-navbar .g-nav-head ul {
    display: none;
    position: absolute;
    top: 50px;
    list-style-type: none;
    background-color: #fff7dd;
    width: 20%;
    border-radius: 0 0 30px 5px;
}
/* Main indhold */
#index main {
    width: 100vw;
    height: 100vh;
    padding-top: 100px;
    color: black;


}
#index .me_pic {
    display: grid;
    grid-template-columns: 3fr 2fr;
}
#index .me_pic img {
    grid-column: 2/-1;
    border-radius: 500px;
    max-width: 300px;
}
#index .me_pic div {
    grid-column: 1/2;
    max-width: 70%;
    max-height: 70%;
    margin: 0 auto;
}

/********************** embed **********************/

/* 
#index main div {
    width: 30%;
    display: flex;
    flex-direction: row-reverse;
    background-color: yellow;
    height: 500px;
    padding-top: 100px;
    margin: 0 auto;
    border-radius: 20px;
    font-size: 60px;
} */